{% extends 'base.html' %}

{% block title %}Home | {% endblock %}

{% load static %}

{% block content %}
<div class="col-12 mt-3 left">
    <div class="row">
        {% for post in posts %}
            <div class="column">
                <div class="md-4">
                    <div class="card-body">
                        <h2 class="title">{{ post.title }}</h2>
                        <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                        <p class="description">{{ post.description }}</p>
                        <p class="posted-on text-muted">{{ post.published_on }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}