{% extends 'base.html' %}

{% block title %}Profile | {% endblock %}

{% block content %}

<div class="my-profile-main-container">
    <h2> My Profile </h2>

    <!-- For Future Implimentation of Profile Pictures
    <div id="display-image"></div>
     <input type="file" id="image-input" accept="image/jpeg, image/png, image/jpg">-->
    <p class="my-profile">Username: {{ user }}</p>
    <p class="my-profile">Email: {{ user.email }}</p>
    <p class="my-profile">Joined: {{ user.date_joined }}</p>

    <a href="https://8000-bethanmckenzi-blogcraft-n5xuyszetv2.ws-eu110.gitpod.io/edit_profile/"><button class="edit-profile-btn" target="_blank">Edit My Profile!</button></a>
</div>

{% endblock %}